   <mat-card color="primary">
    <mat-card-header color="primary">
      <h4 class="card-title ">Usuários do sistema</h4>

    </mat-card-header>
      <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
   
   <div class="divPlus">
      <button mat-icon-button [routerLink]="['/new-user']">
        <mat-icon>add</mat-icon>
    </button>
   </div>
     
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Nome </th>
              <td mat-cell *matCellDef="let element"> {{element.firstname}} {{element.lastname}} </td>
            </ng-container>

          <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> E-mail </th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

          <ng-container matColumnDef="phone">
              <th mat-header-cell *matHeaderCellDef> Telefone </th>
              <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
            </ng-container>

          <ng-container matColumnDef="level">
              <th mat-header-cell *matHeaderCellDef> Nivel de acesso </th>
              <td mat-cell *matCellDef="let element"> {{element.level}} </td>
            </ng-container>

          <ng-container matColumnDef="enabled">
              <th mat-header-cell *matHeaderCellDef> Ativo </th>
              <td mat-cell *matCellDef="let element"> {{element.enabled}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
        </table>

      </mat-card>
